
*.a
*.app
*.class
*.core
*.dbg
*.dep
*.depends
*.dll
*.dylib
*.exe
*.gch
*.gcno
*.gcov
*.ilk
*.kate-swp
*.la
*.lai
*.lib
*.lo
*.log
*.mdb
*.mod
*.o
*.obj
*.out
*.p.txt
*.pch
*.pdb
*.slo
*.so
*.stackdump
*.tbh
*.tbs
*.tbt
*/CMakeCache.txt
*/build.ninja
*/cmake_install.cmake
*build/
.DS_Store
.ninja*
.objs/
/.vscode*
/build/
/cscope.*
/debugger/
/modules/*
/modules/sqlite/tests/*.data
/modules/sqlite/tests/*.db
/test/serialization/*.dat
backup
backup/
backup/*
big
big/
big/*
build/
drmemory*
drstrace*
old
old/
old/*
push.sh
td.*.txt
td?.*.txt
uftrace*
uftrace.*
